.successfully-saved {
    color: #FFFFFF;
    text-align: center;

    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 1;
}

.blackgb {
    background-color: black;
    color: #ffffff;
}

.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 10px;
	height: 80%;
	background-color: green;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }

	to { opacity: 0.3; }

}
  